*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.staticback{
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.topCont{
    background: linear-gradient(to bottom, #1b1b1b 0%,#383838 21%,#4e4e4e 45%,#0a0a0a 87%,#0d0d0d 94%,#000000 100%); 
    height: 100vh;
}

/* header*/

.header{
    border-bottom: 1px solid rgba(128, 128, 128, .7);
    background-color: rgba(64, 64, 256, .5);    
    height:8em;
    position: relative;
    margin-top: -8em;
    width: 100%;
    transition-duration: 0s;
    z-index: 1;
}

.headerCont{
    width: inherit;
    height: inherit;
    position: relative;
}

.headerFixed{
    position:fixed;
    margin-top:0;
}

.headerCollapse{
    height: 3em;
    background-color: rgb(64, 64, 256);
    transition-duration: 1s;
}

.headerlogo{
    background-image:url(images/generic_client_logo.png);
    background-repeat: no-repeat;
    width: 100%;
    height:50%;
    left: 0%;
    background-size: contain;
    background-position: center;
    transition-duration: 1s;
    position: absolute;
}

.headermenu{
    display: flex;
    height: 50%;
    top: 50%;
    right: 0%;
    font-size: 1.5em;
    transition-duration: 1s;
    position: absolute;
    width: 100%;
    transition-duration: 1s;
}

.headermenu div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(128, 128, 128, .7);
    height: 100%;
    
}

.headermenu div:last-of-type{
    border: none;
}

.headerCollapse .headerCont .headerlogo{
    width: 33%;
    height: 100%;
}

.headerCollapse .headerCont .headermenu{
    font-size: 1.25em;
    height: 100%;
    width: 67%;
    top: 0%;
}

/*about*/

.frontabout{
    margin-top: 5em;
}

.sectHeader{
    font-size: 2em;
    padding-left: 1em;
}

.sectContent{
    margin: 1.5em;
    display: flex;
    flex-direction: row;
}

.frontabout .sectContent .image{
    background-image: url(images/68567938-random-wallpapers.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.toEnterLeft{
    opacity: 0;
    transform: translateX(-60px);
    transition-duration: 1s;
}

.toEnterRight{
    opacity: 0;
    transform: translateX(60px);
    transition-duration: 1s;
}

.toEnterBottom{
    opacity: 0;
    transform: translateY(60px);
}


.showAbout .sectContent .image,
.showAbout .sectContent .text,
.showAbout .sectHeader{
    opacity: 100;
    transform: translateX(0px);
}

.transDelay-short{
    transition-delay: .25s;
}

/*gallery*/ 

.galleryCont{
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    display: flex;
}

.imageCont{
    position: relative;
    transition-duration: 2s;
    z-index: 0;
}

.imageCont .image{
    font-size: 8em;
    height: 100%;
    transition-duration: 2s;
    background-attachment: fixed;
}

#image0{
    order:0;
    transform: perspective(300px)rotateY(-90deg);
}
#image1{
    order:1;
    transform: perspective(300px)rotateY(-90deg);
}
#image2{
    order:2;
    transform: perspective(300px)rotateY(-30deg);
}
#image3{
    order:3;
}

#image4{
    order:4;
    transform: perspective(300px)rotateY(30deg);
}
#image5{
    order:5;
    transform: perspective(300px)rotateY(90deg);
}
#image6{
    order:6;
    transform: perspective(300px)rotateY(90deg);
}


#image1, #image5{
    width: 7.5%;
    height: 20%;
}

#image2, #image4{
    width: 15%;
    height: 40%;
}

#image3{
    width: 55%;
    height: 100%;
    z-index: 1;
}

#image3 .image{
    margin-left: -41%;
    margin-right: -41%;
}

#image0, #image6{
    width: 0;   
    height: 0;
    padding: 0;
}

/*Social*/

.workBack{
    background-image: url(images/blue-abstract-glass-balls.jpg);
    padding: 7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.work{
    width: 28%;
    height: 15em;
    background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 17%,#f6f8f9 38%,#f6f8f9 59%,#d7dee3 97%,#f5f7f9 100%); 
    margin-bottom: 3em;
    border: .4em solid darkgray;
    border-style: inset;
    border-radius: 1em;
    padding: .5em;
    transition-duration: 1s;
}























.imageCont:nth-of-type(1) .image{
    background-image: url(images/04091_hafencityhamburg_1920x1080.jpg);
}
.imageCont:nth-of-type(2) .image{
    background-image: url(images/68567938-random-wallpapers.jpg);
}
.imageCont:nth-of-type(3) .image{
    background-image: url(images/blue-abstract-glass-balls.jpg);
}
.imageCont:nth-of-type(4) .image{
    background-image: url(images/city-q-c-1280-960-3.jpg);
}
.imageCont:nth-of-type(5) .image{
    background-image: url(images/italian-landscape-mountains-nature.jpg);
}
.imageCont:nth-of-type(6) .image{
    background-image: url(images/people-woman-coffee-meeting.jpg);
}
.imageCont:nth-of-type(7) .image{
    background-image: url(images/pexels-photo-105221.jpeg);
}




















.inset-pt5{
    padding: 4.16667%;
}

.col-1{
    width: 8.33333%;
}

.col-2{
    width: 16.66667%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.33333%
}

.col-5{
    width: 41.66667%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33333%;
}

.col-8{
    width: 66.66667%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33333%;
}

.col-11{
    width: 91.66667%;
}

.col-12{
    width: 100%;
}

.offset-1{
    margin-left: 8.33333%;
}

.offset-2{
    margin-left: 16.66667%;
}

.space{
    height:900px;
}